@charset "UTF-8";
@keyframes typed {
  /* string 1, char 1 */
  0%, 0.543662% {
    content: "C";
  }
  /* string 1, char 2 */
  0.544662%, 1.088325% {
    content: "CS";
  }
  /* string 1, char 3 */
  1.089325%, 1.632987% {
    content: "CSS";
  }
  /* string 1, char 4 */
  1.633987%, 2.177649% {
    content: "CSS ";
  }
  /* string 1, char 5 */
  2.178649%, 2.722312% {
    content: "CSS t";
  }
  /* string 1, char 6 */
  2.723312%, 3.266974% {
    content: "CSS ty";
  }
  /* string 1, char 7 */
  3.267974%, 3.811636% {
    content: "CSS typ";
  }
  /* string 1, char 8 */
  3.812636%, 4.356298% {
    content: "CSS type";
  }
  /* string 1, char 9 */
  4.357298%, 4.900961% {
    content: "CSS typed";
  }
  /* string 1, char 10 */
  4.901961%, 5.445623% {
    content: "CSS typed ";
  }
  /* string 1, char 11 */
  5.446623%, 5.990285% {
    content: "CSS typed t";
  }
  /* string 1, char 12 */
  5.991285%, 6.534948% {
    content: "CSS typed th";
  }
  /* string 1, char 13 */
  6.535948%, 7.07961% {
    content: "CSS typed thi";
  }
  /* string 1, char 14 */
  7.08061%, 7.624272% {
    content: "CSS typed this";
  }
  /* string 1, char 15 */
  7.625272%, 8.168935% {
    content: "CSS typed this ";
  }
  /* string 1, char 16 */
  8.169935%, 8.713597% {
    content: "CSS typed this s";
  }
  /* string 1, char 17 */
  8.714597%, 9.258259% {
    content: "CSS typed this st";
  }
  /* string 1, char 18 */
  9.259259%, 9.802922% {
    content: "CSS typed this str";
  }
  /* string 1, char 19 */
  9.803922%, 10.347584% {
    content: "CSS typed this stri";
  }
  /* string 1, char 20 */
  10.348584%, 10.892246% {
    content: "CSS typed this strin";
  }
  /* string 1, char 21 */
  10.893246%, 11.436908% {
    content: "CSS typed this string";
  }
  /* string 1, char 22 */
  11.437908%, 23.310547% {
    content: "CSS typed this string!";
  }
  /* string 1, char 23 */
  23.311547%, 23.746277% {
    content: "CSS typed this string";
  }
  /* string 1, char 24 */
  23.747277%, 24.182007% {
    content: "CSS typed this strin";
  }
  /* string 1, char 25 */
  24.183007%, 24.617736% {
    content: "CSS typed this stri";
  }
  /* string 1, char 26 */
  24.618736%, 25.053466% {
    content: "CSS typed this str";
  }
  /* string 1, char 27 */
  25.054466%, 25.489196% {
    content: "CSS typed this st";
  }
  /* string 1, char 28 */
  25.490196%, 25.924926% {
    content: "CSS typed this s";
  }
  /* string 1, char 29 */
  25.925926%, 26.360656% {
    content: "CSS typed this ";
  }
  /* string 1, char 30 */
  26.361656%, 26.796386% {
    content: "CSS typed this";
  }
  /* string 1, char 31 */
  26.797386%, 27.232115% {
    content: "CSS typed thi";
  }
  /* string 1, char 32 */
  27.233115%, 27.667845% {
    content: "CSS typed th";
  }
  /* string 1, char 33 */
  27.668845%, 28.103575% {
    content: "CSS typed t";
  }
  /* string 1, char 34 */
  28.104575%, 28.539305% {
    content: "CSS typed ";
  }
  /* string 1, char 35 */
  28.540305%, 28.975035% {
    content: "CSS typed";
  }
  /* string 1, char 36 */
  28.976035%, 29.410765% {
    content: "CSS type";
  }
  /* string 1, char 37 */
  29.411765%, 29.846495% {
    content: "CSS typ";
  }
  /* string 1, char 38 */
  29.847495%, 30.282224% {
    content: "CSS ty";
  }
  /* string 1, char 39 */
  30.283224%, 30.717954% {
    content: "CSS t";
  }
  /* string 1, char 40 */
  30.718954%, 31.153684% {
    content: "CSS ";
  }
  /* string 1, char 41 */
  31.154684%, 31.589414% {
    content: "CSS";
  }
  /* string 1, char 42 */
  31.590414%, 32.025144% {
    content: "CS";
  }
  /* string 1, char 43 */
  32.026144%, 32.460874% {
    content: "C";
  }
  /* string 1, char 44 */
  32.461874%, 37.907497% {
    content: "​";
  }
  /* string 2, char 1 */
  37.908497%, 38.452159% {
    content: "I";
  }
  /* string 2, char 2 */
  38.453159%, 38.996821% {
    content: "It";
  }
  /* string 2, char 3 */
  38.997821%, 39.541484% {
    content: "It ";
  }
  /* string 2, char 4 */
  39.542484%, 40.086146% {
    content: "It t";
  }
  /* string 2, char 5 */
  40.087146%, 40.630808% {
    content: "It ty";
  }
  /* string 2, char 6 */
  40.631808%, 41.175471% {
    content: "It typ";
  }
  /* string 2, char 7 */
  41.176471%, 41.720133% {
    content: "It type";
  }
  /* string 2, char 8 */
  41.721133%, 42.264795% {
    content: "It typed";
  }
  /* string 2, char 9 */
  42.265795%, 42.809458% {
    content: "It typed ";
  }
  /* string 2, char 10 */
  42.810458%, 43.35412% {
    content: "It typed t";
  }
  /* string 2, char 11 */
  43.35512%, 43.898782% {
    content: "It typed th";
  }
  /* string 2, char 12 */
  43.899782%, 44.443444% {
    content: "It typed thi";
  }
  /* string 2, char 13 */
  44.444444%, 44.988107% {
    content: "It typed this";
  }
  /* string 2, char 14 */
  44.989107%, 45.532769% {
    content: "It typed this ";
  }
  /* string 2, char 15 */
  45.533769%, 46.077431% {
    content: "It typed this o";
  }
  /* string 2, char 16 */
  46.078431%, 46.622094% {
    content: "It typed this on";
  }
  /* string 2, char 17 */
  46.623094%, 47.166756% {
    content: "It typed this one";
  }
  /* string 2, char 18 */
  47.167756%, 47.711418% {
    content: "It typed this one ";
  }
  /* string 2, char 19 */
  47.712418%, 48.256081% {
    content: "It typed this one t";
  }
  /* string 2, char 20 */
  48.257081%, 48.800743% {
    content: "It typed this one to";
  }
  /* string 2, char 21 */
  48.801743%, 49.345405% {
    content: "It typed this one too";
  }
  /* string 2, char 22 */
  49.346405%, 49.890068% {
    content: "It typed this one too ";
  }
  /* string 2, char 23 */
  49.891068%, 61.763706% {
    content: "It typed this one too 😱";
  }
  /* string 2, char 24 */
  61.764706%, 62.199436% {
    content: "It typed this one too ";
  }
  /* string 2, char 25 */
  62.200436%, 62.635166% {
    content: "It typed this one too";
  }
  /* string 2, char 26 */
  62.636166%, 63.070895% {
    content: "It typed this one to";
  }
  /* string 2, char 27 */
  63.071895%, 63.506625% {
    content: "It typed this one t";
  }
  /* string 2, char 28 */
  63.507625%, 63.942355% {
    content: "It typed this one ";
  }
  /* string 2, char 29 */
  63.943355%, 64.378085% {
    content: "It typed this one";
  }
  /* string 2, char 30 */
  64.379085%, 64.813815% {
    content: "It typed this on";
  }
  /* string 2, char 31 */
  64.814815%, 65.249545% {
    content: "It typed this o";
  }
  /* string 2, char 32 */
  65.250545%, 65.685275% {
    content: "It typed this ";
  }
  /* string 2, char 33 */
  65.686275%, 66.121004% {
    content: "It typed this";
  }
  /* string 2, char 34 */
  66.122004%, 66.556734% {
    content: "It typed thi";
  }
  /* string 2, char 35 */
  66.557734%, 66.992464% {
    content: "It typed th";
  }
  /* string 2, char 36 */
  66.993464%, 67.428194% {
    content: "It typed t";
  }
  /* string 2, char 37 */
  67.429194%, 67.863924% {
    content: "It typed ";
  }
  /* string 2, char 38 */
  67.864924%, 68.299654% {
    content: "It typed";
  }
  /* string 2, char 39 */
  68.300654%, 68.735383% {
    content: "It type";
  }
  /* string 2, char 40 */
  68.736383%, 69.171113% {
    content: "It typ";
  }
  /* string 2, char 41 */
  69.172113%, 69.606843% {
    content: "It ty";
  }
  /* string 2, char 42 */
  69.607843%, 70.042573% {
    content: "It t";
  }
  /* string 2, char 43 */
  70.043573%, 70.478303% {
    content: "It ";
  }
  /* string 2, char 44 */
  70.479303%, 70.914033% {
    content: "It";
  }
  /* string 2, char 45 */
  70.915033%, 71.349763% {
    content: "I";
  }
  /* string 2, char 46 */
  71.350763%, 76.796386% {
    content: "​";
  }
  /* string 3, char 1 */
  76.797386%, 77.341048% {
    content: "E";
  }
  /* string 3, char 2 */
  77.342048%, 77.88571% {
    content: "En";
  }
  /* string 3, char 3 */
  77.88671%, 78.430373% {
    content: "Enj";
  }
  /* string 3, char 4 */
  78.431373%, 78.975035% {
    content: "Enjo";
  }
  /* string 3, char 5 */
  78.976035%, 79.519697% {
    content: "Enjoy";
  }
  /* string 3, char 6 */
  79.520697%, 80.064359% {
    content: "Enjoy ";
  }
  /* string 3, char 7 */
  80.065359%, 91.937998% {
    content: "Enjoy ☕";
  }
  /* string 3, char 8 */
  91.938998%, 92.373728% {
    content: "Enjoy ";
  }
  /* string 3, char 9 */
  92.374728%, 92.809458% {
    content: "Enjoy";
  }
  /* string 3, char 10 */
  92.810458%, 93.245187% {
    content: "Enjo";
  }
  /* string 3, char 11 */
  93.246187%, 93.680917% {
    content: "Enj";
  }
  /* string 3, char 12 */
  93.681917%, 94.116647% {
    content: "En";
  }
  /* string 3, char 13 */
  94.117647%, 94.552377% {
    content: "E";
  }
  /* string 3, char 14 */
  94.553377%, 100% {
    content: "​";
  }
}

@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}

* {
  backface-visibility: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: url("https://portfolio-mohamed-toumi.onrender.com/images/me8_1920x1080.png");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 2vw);
  font-family: 'VT323', monospace, sans-serif;
  color: #3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::after {
  content: "​";
  position: relative;
  top: -13px;
  display: inline-block;
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  animation: typed 18.36s linear 1s infinite, beam-blink 1s infinite;
}

@media (max-width: 575px) {
  body::after {
    top: -33px;
  }
}

body::before {
  content: "3 strings / 52 chars / 18.36s duration";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3px 0;
  background: #00f;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.7px;
  white-space: pre-wrap;
}

@media (max-width: 575px) {
  body::before {
    content: "3 strings \a 52 chars \a 18.36s duration";
  }
}

/*# sourceMappingURL=admin.css.map */