<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>My Personal Portfolio</title>
    <script src="https://kit.fontawesome.com/77eaad2351.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="images/logo.png" class="logo">
                <ul id="side-menu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fas fa-times" onclick="close_menu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="open_menu()"></i>
            </nav>
            <div class="header-text">
                <p>Data Scientist & Software Developer</p>
                <h1>Hi, I'm <span>Mohamed</span></h1>
            </div>
        </div>
    </div>

    <!-- ABOUT -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="./images/me.png" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p class="who-am-i">I'm Mohamed Toumi, an IT enthausiast who's looking for good opportunities.</p>
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Experience</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Languages</span>
                                <p class="description">C / C++ / Python / JS / Java / Shell Scripting</p>
                            </li>
                            <li>
                                <span>Frameworks / Libraries</span>
                                <p class="description">ExpressJS / TensorFlow / Keras / Numpy / Pandas / Atlas</p>
                            </li>
                            <li>
                                <span>Databases</span>
                                <p class="description">MongoDB / MySQL</p>
                            </li>
                            <li>
                                <span>Relevant Skills</span>
                                <p class="description">Competitive Programming / CTF</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>Social Life Experience</span>
                                <p class="description">GDSC ENIT member</p>
                                <p class="description">G2FOSS ENIT member</p>
                                <p class="description">Chef Sponsoring of ENIT GOT THE FLAG (CTF competition)</p>
                            </li>
                            <li><span>Personal Projects</span>
                                <p>Check out my github or My Work section</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li>
                                <span>Pre-Engineering degree</span>
                                <p class="description">Math/Physics</p>
                            </li>
                            <li>
                                <span>Online Certifications</span>
                                <p class="description">Machine Learning Specialization </p>
                                <a class="cred" href="https://www.coursera.org/account/accomplishments/certificate/M47KPNNEB9MJ">Show credentials <i class="fa-solid fa-paperclip"></i></a>
                                <br><br>
                                 
                                <p class="description">Google QuickLabs Profile</p>
                                <a class="cred" href="https://www.cloudskillsboost.google/public_profiles/173ba8a1-b052-49d2-8b4c-08d1e1686873">Show credentials <i class="fa-solid fa-paperclip"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- services -->

    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Full Stack Web Developement</h2>
                    <p>Comfortable with HTML/CSS/JS, ExpressJS/MongoDB and Deploying it.</p>
                    <a href="#services">learn more</a>
                </div>
                
                <div>
                    <i class="fa-solid fa-brain"></i>
                    <h2>Data Science Projects</h2>
                    <p>Building ML/DL porjects in different fields</p>
                    <a href="#services">learn more</a>
                </div>

                <div>
                    <i class="fa-solid fa-bug"></i>
                    <h2>Malware Creator (for fun)</h2>
                    <p>Building advanced, persistent and FUD malwares with multiple features.</p>
                    <a href="#services">learn more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio -->


    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="./images/food.jpg" alt="">
                    <div class="layer">
                        <h3>Food Delivery App</h3>
                        <p>Full stack food delivery web app using HTML/CSS/JS for the frontend and expressJS for backend, MongoDB (atlas) as database</p>
                        <a href="https://github.com/ZeroDay0utplay/Food-Delivery-App"><i class="fa-solid fa-up-right-from-square"></i></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="images/malware.jpg" alt="">
                    <div class="layer">
                        <h3>Advanced RAT</h3>
                        <p>Remote Access Trojan with multiple functionalities like opening target camera, screensharing, key logging, voice capturing, reverse shell etc..</p>
                        <a href="https://github.com/ZeroDay0utplay/Malwares/tree/main/Backdoor/Python"><i class="fa-solid fa-up-right-from-square"></i></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="./images/miner.jpg" alt="">
                    <div class="layer">
                        <h3>Crypto Miner</h3>
                        <p>an persistent crypto miner malware written in C/C++ for mining XMR cryptocoins with features like persistence, decide automatically the number of threads used for mining (less suspicious).</p>
                        <a href="https://github.com/ZeroDay0utplay/Malwares/tree/main/CryptoMiner"><i class="fa-solid fa-up-right-from-square"></i></i></a>
                    </div>
                </div>
            </div>
            <a href="#portfolio" class="btn">See more</a>
        </div>
    </div>

    <!-- Contact -->

    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">
                        Contact Me
                    </h1>
                    <p> <i class="fa-sharp fa-solid fa-paper-plane"></i> hama.tm662@gmail.com</p>
                    <p> <i class="fa-solid fa-square-phone"></i> +216 50 864 074</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/mouhamed.toumi.98837"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/mohamed-toumi-38061323b/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/ZeroDay0utplay"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <a href="./images/CV.pdf" download class="btn btn2">Download CV</a>
                </div>
                <div class="contact-right">
                    <form name='contact-form' method="post" action="/contact">
                        <input id="name" type="text" name="Name" placeholder="Your name" required>
                        <input id="email" type="email" name="Email" placeholder="Your email" required>
                        <textarea id="message" name="Message" rows="6" placeholder="Your message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form> 
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p> Created By <a class="copy" href="#">Mohamed Toumi</a> | <i class="fa-regular fa-copyright"></i> 2022 All rights reserved.</p>
        </div>
    </div>

    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");
        function opentab(tabname){
            for (tablink of tablinks){
                tablink.classList.remove("active-link");
            }
            for (tabcontent of tabcontents){
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab")
        }
    </script>

    <script>
        var side_menu = document.getElementById("side-menu");

        function open_menu(){
            side_menu.style.right = "0";
        }

        function close_menu(){
            side_menu.style.right = "-200px";
        }

    </script>

    <script>
        const form = document.forms['contact-form'];
        const msg = document.getElementById("msg");
    
        form.addEventListener('submit', e => {
        e.preventDefault()
        req = {
            "Name": document.getElementById("name").value,
            "Email": document.getElementById("email").value,
            "Message": document.getElementById("message").value
        }
        fetch("/contact", { method: 'POST', headers: {"Content-Type": "application/json"}, body: JSON.stringify(req)})
            .then(response => {
                msg.innerHTML = "Message send successfully";
                setTimeout(()=>{
                    msg.innerHTML = "";
                }, 5000);
                form.reset();
            })
            .catch(error => console.error('Error!', error.message))
        })
    </script>

</body>
</html>